<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-md-2">
            <!-- Category List -->
            <app-category></app-category>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-2">
            <!-- Advertisement and Favourites yearly/monthly/weekly -->
            <!-- <app-category></app-category>
            <app-category></app-category> -->
        </div>
    </div>
    
</div>